.page-slide-enter {
  transform: translateX(100%);
  //opacity: 0;
}
.page-slide-enter.page-slide-enter-active {
    //opacity: 0;
  transform: translateX(0);
  transition: transform 300ms ease-out;
}
.page-slide-exit {
    //opacity: 1;
  transform: translateX(0);
}
.page-slide-exit.page-slide-exit-active {
    //opacity: 1;
  transform: translateX(-100%);
  transition: transform 300ms ease-out;
}
