.usersonline {
    display: flex;
    flex-direction: column;
    //padding: 20px;
    //background: $color-orange;
    //margin: 10px;
    text-align: left;
-webkit-font-smoothing: antialiased;

    h4 {
        text-align: center;
        padding: 20px;
        text-transform: uppercase;
        border: 0;
        margin: 0;
        border: 0;
    }

    &__container {
        text-align: left;

        p {
            background: $color-gray;
            padding: 10px;
            margin: 0 0 4px;

            &:empty {
                display: none;
            }
        }
    }
}
