@import './components/allGames/allGames.scss';
@import './components/oneGame/oneGame.scss';
@import './components/promogame/promoGame.scss';
@import './components/sortGames/sortGames.scss';

.games {
    display: block;

    h1 {
        text-align: center;
        text-transform: uppercase;
    }
}
