.games {
    display: block;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: $color-gray;

    .gameswrapper {
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
    }
}
