.hero {
    overflow: hidden;
    position: relative;
    background-image: url("/images/ninja_page.svg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    
    @media screen and(min-width: 800px) {
        height: 100vh;
        background-attachment: fixed;
    }

    .mainText {
        transition: 0.4s;
        position: absolute;
        top: 7%;
        @media screen and (min-width: 800px) {
            bottom: 36%;
            right: 25%;
        }

        h1 {
            font-size: 42px;
            font-weight: 100;
        }
    }

    .toStoreBtn {
     
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media screen and (min-width: 800px) {
            top: 70%;
            bottom: 50%;
            left: 50%;
            right: 50%;
        }

        button {
            margin: 5px;
            transition: 0.4s ease;
            padding: 11px;
            width: 200px;
            background-color:   rgba(255, 255, 255, 0.9);
            
            //border: inset 1px #e1e1e1;
            outline: none;
            margin-top: 22px;
            color:  #333333;
            //333333
            border: black;
            
            letter-spacing: 4px;
            font-weight: 100;
            @media screen and (min-width: 800px) {
                font-size: 30px;
            }
        }
    }

    button:hover {
        background-color: rgba(34, 32, 34, 0.8);
        clear: both;
        color: white;
        border-color: rgb(43, 41, 41);
    }
}
