.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    background: $color-orange;
}
