.chat {
    margin: 0 auto;
    //width: 100%;
    max-width: 1100px;
    height: 500px;
    margin-top: 20px;
    border-radius: 20px 0 0 20px;

    &__room {
        display: flex;
        flex-direction: row;

        .room-btn {
            flex: 1;
            margin: 0;
            width: 100%;
        }
    }

    &__wrapper {
        height: 640px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        overflow: scroll;
    }

    &__content {
        width: 30%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 20px;
        background: #7f748d;
        border-radius: 0 20px 20px 20px;
        transition: 0.3s;
        animation: fade 0.4s ease;
        @keyframes fade {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        &:last-child {
            position: sticky;
        }

        p {
            color: black;

            &:last-child {
                font-size: 14px;
            }
        }

        .user {
            display: block;
            width: 100%;
            margin-bottom: 5px;
        }
    }

    .activeUser {
        margin-left: auto;
        background: #fbe9cd;
        border-radius: 20px 20px 0 20px;
    }

    .sendInput {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;

        input {
            padding: 10px;
            width: 100%;
            color: black;
            outline: none;
            border: none;
            background: #fbe9cd;
        }

        button {
            background: 0;
            border: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            outline: none;
            padding-left: 20px;
        }
    }
}

.btn-active {
    background: #d2d2d2;
}
