.chat {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    //margin-top: 20px;
    border-radius: 20px 20px 20px 20px;
    background: gray;
    //min-height: 100vh;
    height: 640px;
    height: 100%;
    @media sceen and (min-width: 800px) {
        height: 640px;
        padding:0;
}

    &__room {
        display: flex;
        flex-direction: row;

        .room-btn {
            padding: 10px;
            flex: 1;
            margin: 0;
            width: 100%;
            border-bottom: 5px solid black;
        }
    }

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        //padding: 0 20px;
        overflow: scroll;
        height: 640px;
    }

    &__content {
        width: 180px;
        padding: 4px 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 10px 15px 0;
        background: #7f748d;
        border-radius: 0 20px 20px 20px;
        transition: 0.3s;
        animation: fade 0.4s ease;
        color: white;
        @media screen and (min-width: 800px) {
            width: 320px;
        }
        @keyframes fade {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        p {
            color: black;

            &:last-child {
                font-size: 14px;
            }
        }

        .user {
            transition: 0.4s;
            display: block;
            background: gray;
            padding: 1px;
            width: 100%;
            margin-bottom: 5px;
        }
    }

    .activeUser {
        margin-left: auto;
        background: #fbe9cd;
        border-radius: 20px 20px 0 20px;
    }

    .sendInput {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-direction: row;

        textarea {
            resize: none;
            height: 100px;
            padding: 10px;
            width: 100%;
            color: black;
            outline: none;
            border: none;
            background: #fbe9cd;
        }

        .send_container {
            width: 150px;
            //cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            //display: block;
            background: #fbe9cd;
            border-left: 1px solid black;

            button {
                position: absolute;
                margin: 0 auto;
                background: 0;
                height: 100%;
                //display: block;
                border: 0;
                width: 100%;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                outline: none;
            }
        }
    }
}

.btn-active {
    background: #d2d2d2;
}
