.chat {
    width: 100%;
    padding-top: 10px;
    min-height: 320px;
    background: tomato;
    padding: 10px;

    &__wrapper {
        height: 320px;
        background: white;
        border: 2px solid black;
        padding: 5px;
        overflow: scroll;
    }

    &__content {
        padding: 5px;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;
    }

    input {
        margin-top: 10px;
        color: black;
        padding: 5px;
    }

    button {
        background: gray;
        border: 0;
        color: black;
        height:100%;
    }

    p {
        color: black;
    }
}
