.singleGame {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $width-content;
    //justify-content: center;
    padding: 0;
    margin: 0 auto;
    min-height: 100vh;
    @media screen and (min-width: 800px) {
        padding: 20px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        //align-items: center;
        background: $color-dark-gray;
        @media screen and (min-width: 800px) {
            flex-direction: row;
        }

        figure {
            display: block;
            position: relative;
            height: 200px;
            width: 100%;
            @media screen and (min-width: 800px) {
                height: 600px;
                width: 100%;
                flex: 1;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                position: absolute;
            }
        }

        &-description {
            flex: 1;
            display: flex;
            flex-direction: column;

            h3 {
                font-weight: 100;
                text-align: left;
                padding: 20px;
                width: 100%;
                background: $color-orange;
                display: inline-block;
                border-bottom: 0;
                color:$color-black;
            }

            .info {
                padding: 20px;

                .desc {
                    font-weight: 100;
                    //border-top: 5px solid $color-orange;
                    padding: 10px 0;
                    text-align: left;
                }

                p {
                    line-height: 1.3;
                    font-weight: 100;
                    margin: 5px 0 10px;
                    text-align: left;
                }
            }

            .game_btns {
                margin-top: auto;

                button {
                    color: black;
                    background: $color-orange;
                    margin-top: 10px;
                }
            }
        }
    }
}
