.singleGame {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $width-content;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    @media screen and (min-width: 800px) {
        padding: 20px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 800px) {
            flex-direction: row;
        }

        figure {
            display: block;
            position: relative;
            height: 200px;
            width: 100%;
            @media screen and (min-width: 800px) {
                height: 600px;
                width: 100%;
                flex: 1;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                position: absolute;
            }
        }

        &-description {
            padding: 10px;
            flex: 1;

            h3 {
                display: inline-block;
            }

            p {
                margin: 0 10px 10px;
                text-align: left;
            }

            button {
                margin: 0 0 10px;
            }
        }
    }
}
