.singleGame {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $width-content;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;

        figure {
            display: block;
            position: relative;
            height: 200px;
            width: 100%;
            flex:1;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                position: absolute;
            }
        }

        &-description {
            padding: 20px;
            flex:1;


            h3 {
                display: inline-block;
            }

            p {
                margin: 0 10px 10px;
                text-align: left;
            }
        }
    }
}
