@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy"); //@import './icon/icon.scss';

.box {
    overflow: hidden;
    height: 100vh;
    position: relative;

    figure {
        position: relative;
        height: 100vh;
        width: 100%;
    }
    .esme_class{
        background-image: url("../../components/icon/ninja_page.svg");
    
    }   
    svg {
        
        transform: scale(1.4);
        position: absolute;
        width: 100%;
        //height: 100vh;
        top: 0;
        padding: 0;
        left: 0;
        right: 0;
        //min-height: 100vh;
        @media screen and (min-width: 800px) {
            //margin-top: 150px;
            //padding-top:150px;
            
        }
        @media screen and (min-width: 400px) {
            //margin-top: 150px;
            //padding-top:150px;
     .esme_class{
         width: 100%;
         height: 100%;
     }
        }
    }

    .title {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        top: 0;
        bottom: 50%;
        left: 50%;
        right: 50%;
        font-weight: bold;
        transform: translate(-50%, -50%);

        button {
            margin: 5px;
            padding: 15px;
            width: 200px;
            background-color: dimgray;
            border-radius: 5px;
            font-size: 30px;
            //border: inset 1px #e1e1e1;
            outline: none;
            margin-top: 22px;
            color: #f7931e;
            //333333
            border: black;
            font-family: "Segoe UI", "Roboto", "Oxygen", "Cantarell",;
            letter-spacing: 2px;
            
        }

        p {
            font-size: 4.8em;
            margin-bottom: 20px;
            /* text-shadow:   1px 0px rgb(128, 127, 127), 0px 1px rgb(255, 254, 254),
             2px 1px rgb(128, 127, 127), 1px 2px rgb(241, 238, 238),
            3px 2px rgb(128, 127, 127), 2px 3px rgb(255, 251, 251),
            4px 3px rgb(128, 127, 127), 3px 4px rgb(255, 255, 255),
             5px 4px rgb(128, 127, 127), 4px 5px rgb(255, 255, 255),
             6px 5px rgb(128, 127, 127), 5px 6px rgb(252, 252, 252),
            7px 6px rgb(128, 127, 127), 6px 7px rgb(255, 255, 255),
             8px 7px rgb(128, 127, 127), 7px 8px rgb(255, 255, 255),
             8px 8px rgb(128, 127, 127);*/
            @media screen and (max-width: 800px) {
                font-size: 3em;
                text-shadow: none;
            }
            @media screen and (max-width: 610px) {
                font-size: 1.7em;
                text-shadow: none;
            }
        }
    }

    button:hover {
        background-color: rgba(34, 32, 34, 0.4);
        clear: both;
        color: white;
        border-color: rgb(43, 41, 41);
    }

    body:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        margin: auto;
        border-radius: 100%;
        background: transparent;
        display: block;
        // box-shadow: 0 0 150px 100px rgba(95, 54, 105, 0.3), 200px 0 200px 150px rgba(255, 255, 255, 0.3), -250px 0 300px 150px rgba(255, 255, 255, 0.4), 550px 0 300px 200px rgba(255, 255, 255, 0.3), -550px 0 300px 200px rgba(255, 255, 255, 0.3);//
    }
}



.textCarosel::after {
    content: "";
    animation: 20s linear infinite;
    animation-name: textCarosel;
    //margin-left: 710px;
    font-size: 40px;
}
@keyframes textCarosel {
    0% {
        content: "xX~ShadowNinja~Xx";
        font-family: "Oxygen";
    }

    25% {
        color: white;
    }

    50% {
        content: "ASSASIN'S NEVER DIE";
    }

    100% {
        content: "THEY JUST GAME AWAY";
    }
}
// div {
//     font-size: 100px;
// }
/*h1:hover {
        color: rgba(34, 32, 34, 0.4);
        cursor: pointer;

    }*/
// @media  (max-width: 800px)  {
//    .title{ .big{
//     font-size:30px;
//     margin-top: 180px;
//    }
//    }
// }
// @media (min-width: 375px){
//     .title{.big{
//         font-size:90px;
//     }
//     }
// }
