input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover {
    transition: background-color 5000s ease-in-out 0s;
    border: 1px solid $color-green;
    -webkit-box-shadow: 0 0 0 1000px $color-gray inset;
    -webkit-text-fill-color: $color-font-orange;
}

.LogInWrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.inerWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: $width-content;
    height: 50%;
    padding: 50px;
    text-align: center;
    background-color: $color-dark-gray;
    @media screen and (max-width: 800px) {
        width: 100%;
    }

    h2 {
        font-weight: 100;
        color: $color-font-orange;
    }

    input {
        font-weight: bold;
        width: 300px;
        margin: 20px;
        padding: 10px;
        color: $color-dark-gray;
        border: none;
        background-color: $color-orange;
    }

    input:focus {
        border: 2px solid $color-blue;
    }

    button {
        font-weight: 100;
        width: 100px;
        margin-top: $regular-spacing;
        padding: 10px;
        color: $color-dark-gray;
        border: none;
        border-radius: 0 0 0 0;
        background-color: $color-orange;
    }

    button:hover {
        color: $color-white;
        border: 1px solid $color-orange;
        background-color: $color-button-hover;
    }

    ::placeholder {
        font-weight: 100;
        color: $color-dark-gray;
    }

    .dontHaveLogin {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        border-top: solid 1px $color-orange;

        .goBackBtn {
            border: 0;
            background: 0;
            color: $color-white;
            outline: none;

            &:hover {
                text-decoration: underline;
            }
        }

        i {
            margin: 20px;
            color: $color-orange;
        }

        p {
            margin: 20px;
            color: $color-white;
        }

        a {
            font-weight: 100;
            color: $color-orange;
        }
    }
}
/* Here starts the scss for the register*/
.regWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    input {
        font-weight: 100;
        width: 300px;
        margin: 20px;
        padding: 10px;
        color: $color-dark-gray;
        border: none;
        background-color: $color-orange;
    }

    input:focus {
        border: 2px solid $color-blue;
    }

    button {
        font-weight: 100;
        width: 100px;
        margin-top: 20px;
        padding: 10px;
        color: $color-dark-gray;
        border: none;
        border-radius: 0 0 0 0;
        background-color: $color-orange;
    }

    button:hover {
        color: $color-white;
        border: 1px solid $color-orange;
        background-color: $color-button-hover;
    }

    ::placeholder {
        font-weight: 100;
        color: $color-dark-gray;
    }

    i {
        margin: 20px;
        color: $color-orange;
    }

    p {
        margin: 20px;
        color: $color-white;
    }

    a {
        font-weight: 100;
        color: $color-orange;
    }
}

.inerRegWrapper {
    max-width: $width-content;
    width: 100%;
    margin: 20px auto;
    padding: 50px;
    height: 100%;
    text-align: center;
    background-color: $color-orange;
    background-color: $color-dark-gray;

    .logIn {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        color: $color-orange;
        border-top: solid 1px;

        .goBackBtn {
            border: 0;
            background: 0;
            color: $color-white;
            outline: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
//sass for profile

.userMainContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    max-width: $width-content;
    //min-height: 66vh;
    margin: 20px auto;
    @media screen and (max-width: 800px) {
        flex-direction: column;
        margin: -60px auto;
    }

    .userStatus {
        display: flex;
        flex-direction: column;
        //min-width: 40%;
        //height: 40%;
        background-color: $color-dark-gray;
        @media screen and (max-width: 800px) {
            align-self: center;
            width: 100%;
            margin: 20px;
            padding: 20px;
        }

        &__wrapper {
            margin: 0 auto;
            text-align: left;
            display: flex;
            flex-direction: column;
            @media scren and (min-width: 800px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            &-desc {
                margin-bottom: 10px;
                padding-left: 5px;

                p {
                    margin-bottom: 10px;
                    text-align: left;
                    color: $color-font-orange;

                    span {
                        text-transform: capitalize;
                        text-align: left;
                        //padding: 10px;
                    }
                }
            }

            svg {
                fill: $color-orange;
            }
        }

        .userButton__wrapper {
            margin-top: 0;
            @media screen and (min-width: 800px) {
                //margin-top: auto;
            }

            .userButton {
                font-weight: 100;
                align-self: center;
                width: 100%;
                border: 0;
                //margin: 4px 0;
                padding: 5px;
                color: $color-dark-gray;
                border-radius: 0 0 0 0;
                background-color: $color-gray;
                background: 0;
                color: $color-white;
                text-align: left;

                &:last-child {
                    border-bottom: 2px solid $color-orange;
                    //margin-bottom: 0
                }
            }
        }

        .userButton:hover {
            text-decoration: underline;
        }

        .userImg {
            margin: 0 auto;
            align-self: center;
            width: 120px;
            height: 120px;
            padding: 20px;
        }

        .addcurrency {
            //float: left;
        }
    }

    .singlegames {
        display: flex;
        flex-direction: column;
        max-width: $width-content;
        width: 100%;
        //height: 40%;
        //margin: 10px 10px 10px 20px;
        margin: 0 10px;
        text-align: center;
        background-color: $color-dark-gray;
        border-bottom: 2px solid $color-orange;

        h2 {
            padding: $regular-spacing;
            color: $color-white;
        }
        @media screen and (max-width: 800px) {
            flex-direction: column;
            width: auto;
            margin: 0;
            //margin: $regular-spacing;
        }

        .gameDisplay {
            //display: flex;
            align-items: stretch;
            margin: $regular-spacing;

            h3 {
                display: none;
                margin-top: 25px;
                background-color: $color-white;
            }
            @media screen and (max-width: 800px) {
                display: flex;
                align-self: center;
                flex-direction: column;
                order: 1;
                width: auto;
                height: auto;

                h3 {
                    display: inline;
                    color: $color-dark-gray;
                    border-top: 3px solid $color-black;
                    border-right: 3px solid $color-black;
                    border-bottom: none;
                    border-left: 3px solid $color-black;
                    background-color: $color-orange;
                }
            }

            .buttonDisplay {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $color-dark-gray;
                background-color: $color-gray;
                @media screen and (max-width: 800px) {
                    flex-direction: row;
                    justify-content: center;
                    order: 2;
                    width: 100%;
                    border-right: 3px solid $color-black;
                    border-bottom: 3px solid $color-black;
                    border-left: 3px solid $color-black;
                    background-color: $color-gray;
                }
            }

            .image {
                width: 100%;
                height: 100%;
                @media screen and (max-width: 800px) {
                    border-right: 3px solid $color-black;
                    border-left: 3px solid $color-black;
                }
            }
        }
    }

    .emptyLibrary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //margin: 60px auto;
        //height: 200px;
        padding: 20px;
        border-bottom: 2px solid $color-orange;
        background: $color-dark-gray;
        max-width: 1100px;
        width: 100%;
        margin: 0 10px;
        @media screen and (max-width: 800px) {
            margin: 0;
        }

        .shopButton {
            font-size: 16px;
            align-self: center;
            width: auto;
            margin-top: 15px;
            padding: 5px;
            border: 0;
            font-weight: 600;
            letter-spacing: 2px;
            background: 0;
            text-decoration: underline;
            @media screen and (min-width: 800px) {
                font-size: 16px;
                padding: 10px;
                width: 100px;
                background: 0;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.download {
    width: 50px;
    height: 50px;
    margin: 15px;
    @media screen and (max-width: 800px) {
        width: 40px;
        height: 40px;
    }
}

.red-text {
    font-weight: 100;
    color: $color-red;
}
