.sort {
    display: flex;
    padding-top: 10px;
    padding-right: 10px;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;

    &__wrapper {
        display: flex;
        margin-left: auto;

        span {
            font-weight: 100;
        }

        .select {
            display: block;
            padding:20px;
            color: $color-black;
            background: $color-white;
        }
    }
}
