.btn-regular {
    //width: 150px;
    //height: 55px;
    display: block;
    width: 100%;
    border: none;
    background: rgba(51, 51, 51, .8);
    color: $color-white;
    padding: 10px;
    text-transform: uppercase; //    border-radius: 6px;
    transition: all 0.3s ease 0s;

    &:hover {
        background: $color-orange;
        //color: white;
        font-weight: 100;
        //border: 1px solid white;
        transition: all 0.3s ease 0s;
    }
}
