@import './navBar/navBar.scss';

.header {
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    //background-color: #0c0910;
   background-color: #1B0023;
   
    
    .icon_wrapper {
        max-width: 140px;
        width: 100%;
    }
    // h1 {
    //     //display: block;
    //     width: 100%;
    //     font-size: 40px;
    // }
    a {
        margin: 0 10px;
        color: white;
        font-size: 15px;
        font-family:  "Segoe UI", "Roboto", "Oxygen",
         "Cantarell", 
    }
}
