header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid purple;
    padding: 0 100px;
    background-color: dimgrey;
  
    
 
}

a {
    margin: 0 30px;
}