@import './navBar/navBar.scss';

.header {
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #0c0910;

    .icon_wrapper {
        max-width: 140px;
        width: 100%;
    }
    // h1 {
    //     //display: block;
    //     width: 100%;
    //     font-size: 40px;
    // }

    a {
        margin-top: 20px;
        font-size: 40px;
        color: white;
        @media screen and (min-width: 800px) {
            font-size: 20px;
            margin: 0 10px;
        }
      }

    .navAndStorebar{
      display: flex;
    }

}
