.promo {
    display: block;
    width: 100%;
    height: 560px;
    width: 100%;
    max-width: $width-content;
    margin: 0 auto;

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        background: $color-black;

        & figure {
            position: relative;
            display: block;
            width: 100%;
            height: 300px;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--desc {
            display: flex;
            align-items: center;
            flex: 1;
            flex-direction: column;
            padding: $regular-spacing;

            h1 {
                color: $color-white;
                font-weight: 100;
                z-index: 1;
                bottom: 150px;
                left: 200px;
                display: inline-block;
                padding: $regular-spacing;
            }

            h3 {
                font-weight: 100;
                font-size: 45px;
                z-index: 1;
                top: 50px;
                right: 150px;
                padding: $regular-spacing;
                border: none;
            }
        }

        a {
            font-weight: 100;
            font-size: $regular-spacing;
            z-index: 1;
            color: $color-font-orange;
            margin: $regular-spacing;
        }

        .priceTag {
            color: $color-green;
            font-size: 45px;
        }

        .priceOff {
            font-weight: 100;
            color: $color-red;
            font-size: 40px;
            z-index: 1;
            padding: $regular-spacing;
        }
    }
    @media screen and (min-width: 800px) {
        &__wrapper {
            & figure {
                height: 420px;
            }

            &--desc {
                flex-direction: row;
                justify-content: center;
            }

            a {
                font-size: 30px;
                z-index: 1;
            }
        }
    }
}
