.PromoChat {
    min-height: 100vh;
    border-top: 40px solid $color-orange;
    margin: 0 auto;
    display: flex;

    &__wrapper {
        max-width: 1100px;
        margin: 20px auto;
        width: 100%;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-weight: 100;
            text-align: center;
            letter-spacing: 2px;
        }

        h3 {
            font-weight: 100;

            margin: 20px;
        }

        a {
            font-weight: 100;

            color: white;
            text-decoration: underline;
        }
    }
}
