.social {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: $width-content;
    margin: 0 auto;
    padding: 0;
    @media screen and (min-width: 800px) {
        flex-direction: row;
        flex-wrap: wrap;
        flex-wrap: nowrap;
        height: 90vh;
        margin: 0 auto;
        padding: $regular-spacing 0;
    }

    .sidebar {
        width: 100%;
        max-width: 100%;
        background: $color-dark-gray;
        @media screen and (min-width: 800px) {
            width: 250px;
        }
    }

    .alternate {
        max-width: 500px;
    }
}
