.social {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    @media screen and (min-width: 800px) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    & > * {
        flex: 1 100%;
    }

    &:first-child {
        flex: 1 auto;
        order: 1;
    }

    &:last-child {
        flex: 1 auto;
        order: 3;
        //background: red;
    }

    .sidebar {
        order: 1;
        flex: 1 auto;
        background: gray;
        //width: 100%;
        margin-right: 20px;
        border-radius: 20px;
    }

    .chat {
        order: 3;
        flex: 2 0;
    }

    .alternate {
        order: 3;
        flex: 1 auto;
    }
}

button {
    color: black;
}
