.InvalidCheckout {
    padding: 20px;
    text-align: center;

    p {
        margin: 10px 0;
        font-weight: 100;
        display: block;

        a {
            display: block;
            text-decoration: underline;
            margin: 10px 0;
        }
    }
}
