.miniMeny {
    position: fixed;
    right:0;
    top:60%;
    background: tomato;
    padding:20px;
    transition: 0.5;
}


.active {
    position: absolute;
    right:4000px;
}

.isOpen {
    right:0;
}
