.mini {
    z-index: 10;
    position: fixed;
    //overflow: hidden;
    right: 0;
    bottom: 44px;
    //padding: 20px;
}
.clickThatShait {
    cursor: pointer;
}

.miniMeny {
    background: $color-orange;
    transition: 0.5s cubic-bezier(0.5, 0, 0.5, 1);
    padding: 10px;
    position: relative;
    width: 60px;
    margin-left: auto;

    &__wrapper {
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .total {
            padding: 2px;
            text-align: center;
            line-height: 0.9;
        }
    }
}

.closed {
    //position: fixed;
    right: -100px;
    transform: translate(300px);
}

.isOpen {
    right: 0;
    transform: translate(0);
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.shake2 {
    animation: shake2 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%,
    90% {
        transform: scale(1.1);
        //transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        //transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        //transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: scale(1.5);
        //transform: translate3d(4px, 0, 0);
    }
}
@keyframes shake2 {
    10%,
    90% {
        transform: scale(1.1);
        //transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        //transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        //transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: scale(1.5);
        //transform: translate3d(4px, 0, 0);
    }
}
