.chat__room {
    display: flex;
    flex-direction: row;
    @media screen and (min-width: 800px) {
        flex-direction: column;
    }

    .room-btn {
        -webkit-font-smoothing: antialiased;
        outline: none;
        color: $color-white;
        padding: 10px;
        flex: 1;
        margin: 0 0 4px;
        width: 100%;
        border-radius: 0;
        border: 0;
        cursor: pointer;
        background: $color-gray;
        transition: 0.2s ease;
        //    border: 5px solid $color-dark-gray
    }

    .btn-active {
        background: $color-orange;
        color:$color-dark-gray;
        //border-right: 5px solid $color-dark-gray;
    }
}
