.chat__room {
    display: flex;
    flex-direction: row;
    @media screen and (min-width: 800px) {
        flex-direction: column;
    }

    .room-btn {
        font-weight: 100;
        flex: 1;
        width: 100%;
        margin: 0 0 4px;
        padding: 10px;
        cursor: pointer;
        text-align: left;
        color: $color-white;
        border: 0;
        border-radius: 0;
        outline: none;
        background: $color-gray;
        -webkit-font-smoothing: antialiased;
    }

    .btn-active {
        font-weight: 100;
        color: $color-dark-gray;
        background: $color-orange;
    }
}
