.chat__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    //padding: 0 20px;
    overflow: auto;
    //height: 420px;
    height: 70vh;
    padding: 20px;
}

.chat__content {
    width: 180px;
    padding: 4px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 15px 0;
    background: #7a8eb3;
    border-radius: 0 20px 20px 20px;
    transition: 0.3s;
    animation: fade 0.4s ease;
    // box-shadow: 2px 2px 2px 2px $color-dark-gray;
    box-shadow: 2px 2px 5px 0px #492c09;
    padding: 10px 20px;
    @media screen and (min-width: 800px) {
        width: 320px;
    }
    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .user {
        order: 1;
        transition: 0.4s;
        display: block;
        padding: 1px;
        width: 100%;
        color: black;
        margin-bottom: 10px;
        font-weight: 100;

    }

    .message {
        order: 2;
        flex: 1;
        margin-left: 10px;
        font-weight: 100;


        p {
            font-weight: 100;

            //color: black;
            color: black;

            &:last-child {
                font-size: 11px;
            }
        }
    }

    .avatar {
        background: rgba(255, 255, 255, .6);
        border-radius: 50%;
        order: 1;
        height: 24px;
        width: 24px;
    }
}

.activeUser {
    font-weight: 100;

    display: flex;
    //margin:0;
    margin-left: auto;
    color: black;
    background: white;
    border-radius: 20px 20px 0 20px;

    .message {
        flex: 1;
        order: 3;
        margin-left: 0;
    }

    .avatar {
        order: 3;
    }

    .user {
        order: 1;
        color: $color-orange;
    }
    // p {
    //     color: black;
    //     margin-left: 0;
    // }
}
