$color-orange: #f7931e;
$color-dark-orange: #cb7d06;
$color-font-orange: #fcc383;
$color-gray: dimgray;
$color-white: #FFFAFA;
$color-button-hover: rgba(34, 32, 34, 0.4);
$color-dark-gray: #333;
$color-black: #333333;
$color-red: #f34848;
$color-green: #5deb5d;
$color-blue: #7c7cf6;
