/* Color variables here. write $color-blue : #g43kj */
$color-white: #FFFAFA;

//$color-background: linear-gradient(to right top, #302837, #342740, #37274a, #3a2654, #3c255e);

$color-background:#333333;

$color-gray: #333333;
