.game__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    margin: 20px auto;
    background: $color-dark-gray;
    //border-radius: 10px;
    padding: 0 20px;
    min-height: 100vh;
    border-top: 5px solid $color-orange;
}
