.game__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: $width-content;
    margin: $regular-spacing auto;
    background: $color-dark-gray;
    padding: 0 $regular-spacing;
    border-top: 5px solid $color-orange;
}
