.game__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background: #282b29;
    border-radius: 10px;
    margin-top: 40px;
}
