.checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media screen and (min-width: 800px) {
            display: column;
        }
    }
}
