.checkout {
    width: 100%;
    max-width: $width-content;
    margin: $regular-spacing auto;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $color-dark-gray;
        @media screen and (min-width: 800px) {}

        h1 {
            font-weight: 100;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: $regular-spacing;
            text-align: center;
            color: $color-dark-gray;
            background: $color-orange;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0;
    }

    &__totalSum {
        display: block;
        width: 100%;
        padding: 50px;
        border-bottom: 2px solid $color-orange;
        
        h3 {
            font-weight: 100;
            text-align: right;
            color: $color-white;
            border: 0;
        }
    }
}
