.store-nav {
    display: block;
    padding: 20px;
    height: 100%;
    width: 280px;
}

ul {
    list-style-type: none;
    background-color: lightblue;
    position: absolute;
    z-index: 1000;
    li {
        padding: 0px 5px 0px 5px;
        color:black;
        &:hover {
            background-color:chartreuse;
        }
    }
}
