.store-nav {

    // input{
    //   border-radius: 5px;
    //   font-size: 20px;
    //   text-align: center;
    //   margin-right: 10px;
    // }
}

a.listItems {
    margin: 0;
}

.listItems:hover {
    text-decoration: none;
}
.titleInput {
    color: white;
    font-size: 10px;
    text-align: left;
    background-color: darkorange;
    outline: none;
    border: 0px;
}

.suggestedItems {
    border-radius: 0 3px 3px 3px;
    min-width: 215px;
    // max-width: 215px;
    list-style-type: none;
    background-color: gray;
    position: absolute;
    z-index: 10;

    li {
        display: block;
        padding: 0 5px;
        color:white;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
            background-color: lightgray;
        }
    }
}
