.store-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 0 10px; //    background-color: $color-orange;
    transition: 0.4s;

    .searchContainer {
        position: relative;
        display: block;
        display: flex;
        align-items: center;
        height: auto;
        height: 100%;
        padding: 0 10px;
        cursor: pointer;
        //background-color: $color-orange;
        svg {
            width: 20px;
            height: auto;
            fill: $color-white;
        }
    }
}

a.listItems {
    margin: 0;
}

.listItems:hover {
    text-decoration: none;
}

.titleInput {
    font-size: 16px;
    position: relative;
    text-align: left;
    color: $color-black;
    transform-origin: right;
    border: 0;
    outline: none;
    background-color: $color-orange;
    transition: 0.4s;
}

.suggestedItems {
    width: 100%;
    list-style-type: none;
    background-color: $color-orange;
    z-index: 1;
    position: absolute;
    top: 100%;
    transition: 0.4s;
    padding: 5px 0;
    @media screen and(min-width: 800px) {
        background: $color-black;
    }

    li {
        border-bottom: 1px solid $color-orange;
        transition: 0.4s;
        display: block;
        padding: 5px 0;
        transition: all 0.2s ease-in-out;
        color: $color-white;

        &:hover {
            text-decoration: underline;
        }
    }
}

.inputVisible {
    background: 0;

    .searchContainer {}

    .titleInput {
        transition: 0.4s;
        transform: scale(0);
        //width: 100%;
        //position: relative;
        //bottom: 500px;
    }
}

.inputNotVisible {
    .searchContainer {
        background: 0;
    }

    .titleInput {
        bottom: 0;
    }
}
