.sidebar {
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;


    h3 {
        border: 0;
        padding: 20px;
        text-transform: uppercase;
    }
    .logo__Wrapper {
        width: 100%;
        padding: 10px;
        p {
            padding: 0 20px;
        }
    }


}
