.footer {
    text-align: left;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    font-family:  "Segoe UI", "Roboto", "Oxygen",
         "Cantarell", ;
   // background-color: #0c0910;
   background-color: #1B0023;
    -blurradius : (20);
   // background-color: 0 0 150px 100px rgba121, 54, 105, 0.6;

    &__wrapper {
        max-width: 800px;
        width: 100%;
        flex: 1 0 auto;

        h4 {
            padding: 0;
            text-align: left;
            padding-top: 20px;
            font-size: 16px;
            font-family:  "Segoe UI", "Roboto", "Oxygen",
         "Cantarell", ;
        }
    }
}

.iconWrapper {
    display: flex;
    justify-content: center;
    .icon {
        margin: 0 20px;
    }

}
/*
.icont {
    margin-left: 290px;
}

.iconf {
    margin-left: 50px;
}

.iconi {
    margin-left: 50px;
}
*/
.a {
    color: white;
    font-size: 16px;
    font-family:  "Segoe UI", "Roboto", "Oxygen",
         "Cantarell", ;
}

.footer:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 10px;
    height: 0;
    margin: auto;
    border-radius: 50%;
    background: transparent;
    display: block;
    box-shadow: 0 0 150px 100px rgba(95, 54, 105, 0.2), 200px 0 200px 150px rgba(255, 255, 255, 0.2), -250px 0 300px 150px rgba(255, 255, 255, 0.2), 550px 0 300px 200px rgba(255, 255, 255, 0.2), -550px 0 300px 200px rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 850px) {
    .iconWrapper {
        display: flex;
        justify-content: center;
    }
}
//   @media only screen and (min-width: 601px) {
//     .box {
//       font-size: 80px;
//     }
//   }

@media only screen and (max-width: 450px) {
    
        h4{
       margin-left: 110px;
    }
    
}
  
@media only screen and (max-width: 450px) {
    
    .a{
   margin-left: 110px;  
}

}

    