.footer {
    width: 100%;
    display: block;
    background-color: $color-orange;
    border-top: 20px solid $color-dark-gray;

    &__wrapper {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        color: #f7931e;
        padding:20px;
        align-items: center;
        @media screen and (min-width: 800px) {
            flex-direction: row;
            padding: 100px 20px;
        }
    }

    .link__container {
        display: flex;
        flex-direction: column;

        a {
            font-weight: 100;
            margin: 10px;
            text-decoration: underline;
            color: $color-black;
            text-align: left;
            @media screen and (min-width: 800px) {
                text-align: center;
            }
        }
    }

    &_description {
        margin: 20px;

        h3 {
            font-weight: 100;
            color: #333333;
            margin: 10px;
        }

        a {
            margin: 10px;
            color: $color-black;
            text-decoration: underline;
        }
    }
}

.iconWrapper {
    margin: 20px;

    .icon {
        margin: 0 10px;
    }
}

a {
    color: white;
    letter-spacing: 1px;
}
