.game__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: $regular-spacing;
    transition: 0.4s;
    min-height: 400px;
    height: 100%;
    position: relative;
    background: white;
    @media screen and (min-width: 800px) {
        width: 100%;
        max-width: 280px;
        width: 100%;
        max-height: 320px;
        height: 100%;
    }

    a {
        display: block;
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &:hover {
        box-shadow: 8px 8px 8px black;
    }

    figure {
        flex: 1;
        position: relative;
        width: 100%;
        height: 240px;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
        }
    }

    h3 {
        color: black;
        background: gray;
        padding: 0 10px;
    }

    &-description {
        padding: 0 10px;
        color: black;

        p {
            color: black;
            margin: 0 0 10px;
        }
    }
}
