* {
    font-size: 16px;
    font-family: $font-basic;
    color: $color-white;
}

h1,
h2,
h3,
h4 {
    font-family: $font-headline;
    margin-top: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

a {
    font-family: $font-headline;

    &:hover {
        text-decoration: underline;
    }
}
