.sendInput {
    //margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;

    textarea {
        flex: 1 100%;
        resize: none;
        height: 100px;
        padding: 10px;
        width: 100%;
        color: $color-black;
        outline: none;
        border: none;
        background: $color-white;
        font-weight: 100;

        &::placeholder {
            font-weight: 100;
            font-size: 16px;
        }
    }

    .send_container {
        width: 150px;
        //cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        //display: block;
        background: $color-white;
        border-left: 1px solid $color-black;

        button {
            font-weight: 100;
            position: absolute;
            margin: 0 auto;
            background: 0;
            height: 100%;
            //display: block;
            border: 0;
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            outline: none;
            transform: scale(1);
            transition: all 0.2s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
